.hero__title {
  width: 100%;
  height: 43.75rem;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/images/coffee-circle.jpg);
}

.hero__title--box {
  width: 18.75rem;
  height: 12.5rem;
  background-color: #393939;
  color: #fff;
  text-align: center;
  margin: auto;
}

.page-nav {
  background-color: #393939;
  padding: 0;
  height: 5rem;
  display: flex;
  justify-content: center;
}
.page-nav__list {
  display: flex;
  margin: 0;
}
.page-nav__item {
  border-left: 0.188rem solid #5bacc3;
  padding-left: 0.938rem;
  list-style: none;
  margin: auto;
  margin-right: 0.938rem;
}
.page-nav__anchor {
  text-decoration: none;
  color: #fff;
  font-size: 1.313rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.menu {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
}

.category {
  border: thin transparent solid;
  padding: 0;
}

.category--pink-bg {
  background-color: #fff0ed;
}
.category--gray-bg {
  background-color: #f7f7f7;
}

.category__title {
  margin: 0;
  padding: 0.625rem 0;
}

.product__title {
  margin: 0;
  padding-top: 0.625rem;
}

.product__desc {
  margin: auto;
  width: 30%;
  font-style: italic;
}

.product__price {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  color: #5bacc3;
}
